<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--PROVIDE HERE THE DL-API END POINT. MAKE SURE IT ENDS WITH "/"-->
    <add key="DL-API:endpoint" value="http://dl-api.ddll.co/"/>
  </appSettings>
  <!--IN CASE A PROXY IS NEEDED, UNCOMMENT THE LINES BELOW-->
  <!--<system.net>
    <defaultProxy>
      <proxy proxyaddress="http://dl-api.ddll.co" bypassonlocal="True"/>
    </defaultProxy>
  </system.net>-->
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>