<?xml version="1.0"?>
<configuration>
  <!--IN CASE A PROXY IS NEEDED, UNCOMMENT THE LINES BELOW-->
  <!--<system.net>
    <defaultProxy>
      <proxy proxyaddress="http://dl-api.ddll.co" bypassonlocal="True"/>
    </defaultProxy>
  </system.net>-->
  <system.web>
    <compilation debug="false"/>
  </system.web>
</configuration>